.header-container {
    background-color: #89734E;
    width: 428px;
    height: 77px;
}

.main-container {
    background-color: #E8DCC5;
    width: 428px;
    height: 780px;
}

.footer-container {
    background-color: #89734E;
    width: 428px;
    height: 77px;
}

.collapsible {
    width: 428px;
}

/*faq wrapper*/
.faq-wrapper {
    background-color: #e6ecf0;
    text-align: center;
    padding-bottom: 80px;
    color: #5f5d60;
}

#faq-list {
    width: 500px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.faq-list-item {
    margin: 10px;
    border-bottom: 1px solid #ccc;
    position: relative;
    cursor: pointer;
    text-align: left;
}

.faq-list-item h3 {
    font-size: 14px;
}

.faq-list-item span {
    position: absolute;
    top: 0;
    right: 5px;
    color: #ccc;
    font-size: 13px;
}

.answer {
    font-size: 12px;
    padding: 5px 0px;
    margin-bottom: 15px;
    display: none;
}

