/*共通*/
/*
.header-container {
    background-color: #67be8d;
    width: 100%;
    height: 77px;
}

.logo {
    text-align: left;
}
.footer-container {
    background-color: #67be8d;
    width: 100%;
    height: 77px;
    text-align: center;
    font-size: 25px;
}*/

body {
    font-family: sans-serif;
    font-size: 20px;
    background-color: #98ce97;
    width: 100%;
    height: 618px;
    text-align: center;
}

h1,h3,h2,h4 {
    color: #005842;
}

/*top.html ランダム表示部分 .test～.pointまで*/
.test {
    background-color: #98ce97;
    color: darkgreen;
    font-weight: normal;
    font-size: 20px;
    font-family: 'Reggae One', cursive;
    text-align: center;
    padding: 20px 20px 0px 20px;
}

.point {
    color: darkgreen;
    margin-bottom: 20px;
    padding-bottom: 20px;
    height: 30px;
    font-weight: normal;
    font-size: 45px;
    font-family: 'Mrs Sheppards', cursive;
    text-align: center;
}


/*top-page*/

.link a{
    color: rgb(185, 230, 176);
    padding: 15px 0px 0px 5px;
    margin: 15px 0px 0px 25px;
    font-weight: max-width;
    font-size: 30px;
    float: right;
    height: 30px;
}


.logo {
    font-size: 160px;
    border-top: 100px;
    text-align: center;
    margin-left: 100px;
}

.return-top a {
    color: green;
    padding: 10px 25px 10px 0px;
    margin: 10px 0px 10px 350px;
    font-weight: max-width;
    font-size: 2em;
    height: 15px;
}

.collapsible {
    font-family: 'Reggae One', cursive;
    color: darkgreen;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.collapsible-body {
    font-size: 18px;
}

.bairitsu {
    font-family: 'Reggae One', cursive;
    color: darkgreen;
    font-size: 30px;
    text-align: center;
    margin-right: 60px;
}


.acodion {
    margin: 10px auto;
    width: 450px;
    background: orange;
}

.BAIRITU {
    margin: 10px auto;
    width: 450px;
    /*background: orange;*/
}

.header-container {
    background-color: #67be8d;
    width: 436px;
    height: 77px;

}

.body {
    background-color: #98ce97;
    width: 100%;
    height: 618px;
    text-align: center;
}

.textarea {
    margin: 10px auto;
    width: 450px;
    text-align: center;
}

/*faq wrapper*/
.faq-wrapper {
    background-color: #e6ecf0;
    text-align: center;
    padding-bottom: 80px;
    color: #5f5d60;
}

#faq-list {
    width: 500px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.faq-list-item {
    margin: 10px;
    border-bottom: 1px solid #ccc;
    position: relative;
    cursor: pointer;
    text-align: left;
}

.faq-list-item h3 {
    font-size: 14px;
}

.faq-list-item span {
    position: absolute;
    top: 0;
    right: 5px;
    color: #ccc;
    font-size: 13px;
}

.answer {
    font-size: 12px;
    padding: 5px 0px;
    margin-bottom: 15px;
    display: none;
}

.nav-wrapper {
    background-color: #05966a;
}

/*faq wrapper*/

/* page-2*/
.nyuryoku {
    margin: 15px 25px 5px 25px ;
    margin: 10px auto;
    width: 450px;
}

.nyuryoku h3 {
    font-family: 'Reggae One', cursive;
}

.mxm {
    display: flex;  
}
.temix {
    padding: 10px;
}

.temix {
    padding-left:30px;
}
.icon {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 120px 0px 0px 95px;
}

.icon-a {
    font-family: 'Reggae One', cursive;
}