<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--viewportの設定 p.128-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" media="screen and ( min-width:769px )" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" media="screen and ( max-width:768px )" href="../static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../accordion.js"></script>

</head>

<body>
    <div class="first">
        <h1>はじめての方へ</h1>
        <p>当アプリは一般の菜園ユーザー様向けに開発された農地用除草剤の希釈計算アプリです。</p>
        <p>①市販されている主要な薬品名（および対象）の選択と、ご使用の菜園面積の入力だけで必要な薬剤量および希釈水量を取得できます。</p>
        <p>②各薬剤のラベル表記をもとにご自身で入力される場合、希釈倍率・10aあたり使用量・菜園面積から必要な薬剤量および希釈水量を取得できます。</p>
    </div>

    <div class="first">
        <h1>薬剤名から算出される方＜選択肢および算出法について＞</h1>
        <p>当アプリは一般の菜園ユーザー様を対象としておりますので、データを算出する際は安全性を第一に考えております。したがって薬剤名から算出される数値は菜園ユーザー様が安心して使っていただける目安の量となります。このデータは各剤メーカーの指定する用量の範囲内には入っておりますが、必ずしも上限値で算出しているわけではないため、最大の除草効果を希望される方は各剤ラベルの説明等を十分確認された上で当アプリの希釈計算ツールに再度ご入力頂きますと最適なデータを取得できます。なお、いわゆる一年生雑草、多年生雑草にカテゴライズされないスギナ等一部の強力な雑草は薬剤名からの計算の対象外となっておりますのでご了承ください。
        </p>
    </div>

    <div class="first">
        <h1>免責事項</h1>
        <p>当アプリの提供する情報について、安全性・正確性を非常に重視し万全を期しておりますが、それらの完全性や最新性等を保証するものではありません。情報のご利用にあたっては以上のことをご理解いただき、不利益・損害等のことがありましても一切の責任を負いかねますのでご了承ください。
        </p>
    </div>








</body>

</html>
