<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Team木蓮森-卒業制作</title>
  <link rel="stylesheet" href="../static/CSS/123.css">
  <!-- ↓ アプリ名 googlewebフォント 使わないならこれいらない-->
  <link href="https://fonts.googleapis.com/css?family=Mrs Sheppards" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="../static/js/sg.js">
  <script>
    setTimeout("location.href='top.html'", 1000 * 4);
  </script>

</head>

<body>
  
    <div class="content-wrap">
      <div class="content">
        <header>
          <h1 class="tagline toppage">Killing me softly</h1>
        </header>
      </div>
    </div>
  
  
</body>

</html>