<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/stylesheet.css">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  
  <script type="text/javascript" src="../static/js/sg.js"></script>
  <link rel="stylesheet" href="../static/CSS/stylesheet.css">

</head>

<body>
  <header>
    <div class="header-container">ここはヘッダー</div>
  </header>
<div class="main">
  <div>img</div>
  <div>
    <ul class="collapsible">
      <li>
        <div class="collapsible-header"><i class="material-icons">filter_drama</i></div>
        <div class="collapsible-body"><span>
          <a href="https://materializecss.com/collapsible.html">もに</a>
          <a>もに</a>
          <a>もに</a>
          <a>もに</a>
          <a>もに</a>
        </span></div>
      </li>
    </ul>
  </div>
  <div>
    <p><input type="button" value="確認する" id="button2"></p>
  </div>
  <div>
    <div class="main-container">
      <p>希釈倍率<br>
        <input type="text"></p>
    </div>
  </div>
  <div>
    <p><input type="button" value="確認する" id="button2"></p>
  </div>
</div>

  <footer>
    <div class="footer-container">ここはフッダー</div>
  </footer>

</body>

</html>