<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/CSS/stylesheet.css">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script type="text/javascript" src="../static/js/sg.js"></script>

</head>

<body>
  <div class="bod">
    <header>

      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo"></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="main">
      <div class="LOGO">
        <img src="../static/img/HAPPA.png">
      </div>

    </div>

    <div class="acodion">
      <ul class="collapsible">
        <li>
          <div class="collapsible-header">使用薬剤名</div>
          <div class="collapsible-body">
            <ul>
              {% for yakuzai in yakuzai_list %}
              <li><a href="/top/{{yakuzai['id']}}">{{yakuzai["id"]}}：{{yakuzai["yakuzai"]}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <p><input type="button" value="確認する" id="button2"></p>
  </div>
  <div class="bairitsu">
    <div class="main-container">
      <p>希釈倍率<br>
        <input type="text"></p>
    </div>
  </div>
  <div>
    <p><input type="button" value="確認する" id="button2"></p>
  </div>
  </div>


  <!--ここからランダム表示-->
  <div class="test">イネ科雑草は根元の成長点より下を意識して草刈りしてみよう！</div>
  <div class="test">地下茎雑草は野菜より強力だから根っこごと抜こう！</div>
  <div class="test">防草シートには環境にやさしい天然素材製品も増えてきているよ！</div>
  <div class="test">快晴が続く時は作業の１～２時間前に水を撒くと楽になる！</div>
  <div class="test">根の浅い雑草には家庭にある酢の原液を霧吹きしても撃退効果があるよ！</div>

  <style type="text/css">
    .test {
      display: none;
    }
  </style>

  <script type="text/javascript">
    var target = document.getElementsByClassName("test");

    var rNo = Math.floor(Math.random() * target.length);

    target[rNo].style.display = "block";
  </script>

</body>

</html>