<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/CSS/zero.css">
</head>

<body>

    <div class="main">
        <img class="zero1" src="../static/img/導入.png">

        <div class="btn">

            <a href="./opening.html"><img class="zero2" src="../static/img/BTN.png"></a></div>

    </div>








</body>

</html>